# HomeExchange

## Overview

## Objectives

## Steps

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import os
import glob

## Subscriptions

In [2]:
subscriptions = pd.read_csv(r"C:\Users\imane\OneDrive\Desktop\home_exchange\HomeExchange\data\subscriptions.csv")
subscriptions.head()

,subscription_date,user_id,renew,first_subscription_date,first_subscription,referral,promotion,payment3x,payment2,payment3,diff_year
0,2019-01-01,2062530,1,2018-01-01,0,0,0,0,0,0,1
1,2019-01-02,1177188,1,2007-04-14,0,0,0,0,0,0,12
2,2019-01-03,2803569,0,2018-01-07,0,0,0,0,0,0,1
3,2019-01-03,2656379,1,2018-01-03,0,0,0,0,0,0,1
4,2019-01-05,2252650,0,2014-05-01,0,0,0,0,0,0,5

In [3]:
subscriptions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99702 entries, 0 to 99701
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   subscription_date        99702 non-null  object
 1   user_id                  99702 non-null  int64
 2   renew                    99702 non-null  int64
 3   first_subscription_date  99702 non-null  object
 4   first_subscription       99702 non-null  int64
 5   referral                 99702 non-null  int64
 6   promotion                99702 non-null  int64
 7   payment3x                99702 non-null  int64
 8   payment2                 99702 non-null  int64
 9   payment3                 99702 non-null  int64
 10  diff_year                99702 non-null  int64
dtypes: int64(9), object(2)
memory usage: 8.4+ MB

#### Checking for null values

In [4]:
subscriptions.isnull().sum()

subscription_date          0
user_id                    0
renew                      0
first_subscription_date    0
first_subscription         0
referral                   0
promotion                  0
payment3x                  0
payment2                   0
payment3                   0
diff_year                  0
dtype: int64

In [5]:
subscriptions.duplicated().sum()

0

#### Changing data types

In [6]:
subscriptions["subscription_date"] = pd.to_datetime(subscriptions["subscription_date"])
subscriptions["first_subscription_date"] = pd.to_datetime(subscriptions["first_subscription_date"])

## Exchanges

#### Getting the datasets and concatenating them into one complete dataFrame

In [2]:
path = r"C:\Users\imane\OneDrive\Desktop\home_exchange\HomeExchange\data\exchanges\*"
files = []
for f in glob.glob(path):
    files.append(f)

In [3]:
dfs = []
for f in range(len(files)):
    df = pd.read_csv(files[f])
    dfs.append(df)

In [4]:
exchanges = pd.concat(dfs, axis=0)

In [5]:
exchanges.to_csv(r"C:\Users\imane\OneDrive\Desktop\home_exchange\HomeExchange\data\Exchanges_clean.csv")

In [7]:
exchanges = pd.read_csv(r"C:\Users\imane\OneDrive\Desktop\home_exchange\HomeExchange\data\Exchanges_clean.csv")
exchanges.head()

,Unnamed: 0,conversation_id,exchange_id,created_at,creator_id,guest_user_id,host_user_id,finalized_at,canceled_at,start_on,...,night_count,exchange_type,home_type,residence_type,capacity,country,region,department,city,diff_capacity
0,0,41311972,63399698,2021-08-22,389898,389898,3277768,NaN,NaN,NaN,...,0,NON_RECIPROCAL,Home,primary,2.0,NLD,Groningue,Het Hogeland,Onderdendam,2.0
1,1,43121577,65438439,2022-02-06,2191577,2191577,3609949,NaN,NaN,NaN,...,0,NON_RECIPROCAL,apartment,secondary,6.0,ESP,Les Asturies,Les Asturies,Avilés,3.0
2,2,38156044,59856100,2020-07-17,2207335,2207335,3537414,NaN,NaN,2020-07-27,...,6,NON_RECIPROCAL,apartment,secondary,4.0,ESP,Les Asturies,Les Asturies,Cangas de Onís,0.0
3,3,34141158,55536249,2019-08-02,450515,450515,2822792,NaN,NaN,NaN,...,0,NON_RECIPROCAL,Home,primary,6.0,FRA,Centre-Val De Loire,Loir-Et-Cher,Blois,6.0
4,4,38553219,60287269,2020-09-14,3055374,3055374,3243667,2020-09-15 12:12:35 UTC,NaN,2020-09-18,...,2,NON_RECIPROCAL,Home,primary,6.0,FRA,Centre-Val De Loire,Loir-Et-Cher,Mont-Prés-Chambord,1.0

In [8]:
exchanges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11969751 entries, 0 to 11969750
Data columns (total 22 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   conversation_id         int64
 2   exchange_id             int64
 3   created_at              object
 4   creator_id              int64
 5   guest_user_id           int64
 6   host_user_id            int64
 7   finalized_at            object
 8   canceled_at             object
 9   start_on                object
 10  end_on                  object
 11  guest_countguest_count  int64
 12  night_count             int64
 13  exchange_type           object
 14  home_type               object
 15  residence_type          object
 16  capacity                float64
 17  country                 object
 18  region                  object
 19  department              object
 20  city                    object
 21  diff_capacity           float64
dtypes: float64(2), int64(8), object(12)
memory usage: 2.0+ GB

#### Checking for empty values

In [9]:
is_null = pd.DataFrame(exchanges.isnull().sum(), columns=["nb_null"])
is_null["%null"] = (is_null["nb_null"] / len(exchanges))*100
is_null

                         nb_null      %null
Unnamed: 0                     0   0.000000
conversation_id                0   0.000000
exchange_id                    0   0.000000
created_at                     0   0.000000
creator_id                     0   0.000000
guest_user_id                  0   0.000000
host_user_id                   0   0.000000
finalized_at            11571384  96.671886
canceled_at             11890322  99.336419
start_on                 1335625  11.158336
end_on                   1346820  11.251863
guest_countguest_count         0   0.000000
night_count                    0   0.000000
exchange_type                  0   0.000000
home_type                   1452   0.012131
residence_type             44784   0.374143
capacity                       3   0.000025
country                     7104   0.059350
region                    277096   2.314969
department                869905   7.267528
city                     1175342   9.819269
diff_capacity                  3   0.000025

In [10]:
exchanges = exchanges.drop(columns=["Unnamed: 0"])

#### Changing data types

In [11]:
exchanges["created_at"] = pd.to_datetime(exchanges["created_at"])
exchanges["finalized_at"] = pd.to_datetime(exchanges["finalized_at"])
exchanges["canceled_at"] = pd.to_datetime(exchanges["canceled_at"])
exchanges["start_on"] = pd.to_datetime(exchanges["start_on"],errors = 'coerce')
exchanges["end_on"] = pd.to_datetime(exchanges["end_on"],errors = 'coerce')

In [25]:
exchanges["exchange_type"] = exchanges["exchange_type"].astype("string")
exchanges["home_type"] = exchanges["home_type"].astype("string")
exchanges["residence_type"] = exchanges["residence_type"].astype("string")
exchanges["country"] = exchanges["country"].astype("string")
exchanges["region"] = exchanges["region"].astype("string")
exchanges["department"] = exchanges["department"].astype("string")
exchanges["city"] = exchanges["city"].astype("string")

In [26]:
exchanges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11969751 entries, 0 to 11969750
Data columns (total 21 columns):
 #   Column                  Dtype
---  ------                  -----
 0   conversation_id         int64
 1   exchange_id             int64
 2   created_at              datetime64[ns]
 3   creator_id              int64
 4   guest_user_id           int64
 5   host_user_id            int64
 6   finalized_at            datetime64[ns, UTC]
 7   canceled_at             datetime64[ns, UTC]
 8   start_on                datetime64[ns]
 9   end_on                  datetime64[ns]
 10  guest_countguest_count  int64
 11  night_count             int64
 12  exchange_type           string
 13  home_type               string
 14  residence_type          string
 15  capacity                float64
 16  country                 string
 17  region                  string
 18  department              string
 19  city                    string
 20  diff_capacity           float64
dtypes: datetime64[ns, UTC](2), datetime64[ns](3), float64(2), int64(7), string(7)
memory usage: 1.9 GB