# HomeExchange

## Overview

## Objectives

## Steps

In [53]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import os
import glob

## Subscriptions

In [54]:
subscriptions = pd.read_csv(r"C:\Users\imane\OneDrive\Desktop\home_exchange\HomeExchange\data\subscriptions.csv")
subscriptions.head()

,subscription_date,user_id,renew,first_subscription_date,first_subscription,referral,promotion,payment3x,payment2,payment3,diff_year
0,2019-01-01,2062530,1,2018-01-01,0,0,0,0,0,0,1
1,2019-01-02,1177188,1,2007-04-14,0,0,0,0,0,0,12
2,2019-01-03,2803569,0,2018-01-07,0,0,0,0,0,0,1
3,2019-01-03,2656379,1,2018-01-03,0,0,0,0,0,0,1
4,2019-01-05,2252650,0,2014-05-01,0,0,0,0,0,0,5

In [55]:
subscriptions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99702 entries, 0 to 99701
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   subscription_date        99702 non-null  object
 1   user_id                  99702 non-null  int64
 2   renew                    99702 non-null  int64
 3   first_subscription_date  99702 non-null  object
 4   first_subscription       99702 non-null  int64
 5   referral                 99702 non-null  int64
 6   promotion                99702 non-null  int64
 7   payment3x                99702 non-null  int64
 8   payment2                 99702 non-null  int64
 9   payment3                 99702 non-null  int64
 10  diff_year                99702 non-null  int64
dtypes: int64(9), object(2)
memory usage: 8.4+ MB

In [56]:
subscriptions.isnull().sum()

subscription_date          0
user_id                    0
renew                      0
first_subscription_date    0
first_subscription         0
referral                   0
promotion                  0
payment3x                  0
payment2                   0
payment3                   0
diff_year                  0
dtype: int64

In [57]:
subscriptions.duplicated().sum()

0

In [58]:
subscriptions["subscription_date"] = pd.to_datetime(subscriptions["subscription_date"])
subscriptions["first_subscription_date"] = pd.to_datetime(subscriptions["first_subscription_date"])

## Exchanges

In [59]:
path = r"C:\Users\imane\OneDrive\Desktop\home_exchange\HomeExchange\data\exchanges\*"
files = []
for f in glob.glob(path):
    files.append(f)

In [60]:
dfs = []
for f in range(len(files)):
    df = pd.read_csv(files[f])
    dfs.append(df)

In [ ]:
exchanges = pd.concat(dfs, axis=0)

In [50]:
exchanges.to_csv("Exchanges_clean.csv")

In [48]:
exchanges.head()

,conversation_id,exchange_id,created_at,creator_id,guest_user_id,host_user_id,finalized_at,canceled_at,start_on,end_on,...,night_count,exchange_type,home_type,residence_type,capacity,country,region,department,city,diff_capacity
0,41311972,63399698,2021-08-22,389898,389898,3277768,NaN,NaN,NaN,NaN,...,0,NON_RECIPROCAL,Home,primary,2.0,NLD,Groningue,Het Hogeland,Onderdendam,2.0
1,43121577,65438439,2022-02-06,2191577,2191577,3609949,NaN,NaN,NaN,NaN,...,0,NON_RECIPROCAL,apartment,secondary,6.0,ESP,Les Asturies,Les Asturies,Avilés,3.0
2,38156044,59856100,2020-07-17,2207335,2207335,3537414,NaN,NaN,2020-07-27,2020-08-02,...,6,NON_RECIPROCAL,apartment,secondary,4.0,ESP,Les Asturies,Les Asturies,Cangas de Onís,0.0
3,34141158,55536249,2019-08-02,450515,450515,2822792,NaN,NaN,NaN,NaN,...,0,NON_RECIPROCAL,Home,primary,6.0,FRA,Centre-Val De Loire,Loir-Et-Cher,Blois,6.0
4,38553219,60287269,2020-09-14,3055374,3055374,3243667,2020-09-15 12:12:35 UTC,NaN,2020-09-18,2020-09-20,...,2,NON_RECIPROCAL,Home,primary,6.0,FRA,Centre-Val De Loire,Loir-Et-Cher,Mont-Prés-Chambord,1.0

In [47]:
exchanges.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11969751 entries, 0 to 239074
Data columns (total 21 columns):
 #   Column                  Dtype
---  ------                  -----
 0   conversation_id         int64
 1   exchange_id             int64
 2   created_at              object
 3   creator_id              int64
 4   guest_user_id           int64
 5   host_user_id            int64
 6   finalized_at            object
 7   canceled_at             object
 8   start_on                object
 9   end_on                  object
 10  guest_countguest_count  int64
 11  night_count             int64
 12  exchange_type           object
 13  home_type               object
 14  residence_type          object
 15  capacity                float64
 16  country                 object
 17  region                  object
 18  department              object
 19  city                    object
 20  diff_capacity           float64
dtypes: float64(2), int64(7), object(12)
memory usage: 2.0+ GB

In [52]:
e = pd.read_csv(r"C:\Users\imane\OneDrive\Desktop\home_exchange\HomeExchange\data\Exchanges_clean.csv")
e

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.