# HomeExchange Exchanges data cleaning

## Overview

## Objectives

## Steps

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import os
import glob

## Exchanges

#### Getting the datasets and concatenating them into one complete dataFrame

In [4]:
path = r"C:\Users\imane\OneDrive\Desktop\home_exchange\HomeExchange\data\exchanges\*"
files = []
for f in glob.glob(path):
    files.append(f)

In [3]:
dfs = []
for f in range(len(files)):
    df = pd.read_csv(files[f])
    dfs.append(df)

In [4]:
exchanges = pd.concat(dfs, axis=0)

In [5]:
exchanges.to_csv(r"C:\Users\imane\OneDrive\Desktop\home_exchange\HomeExchange\data\Exchanges_clean.csv")

#### The dataset

In [15]:
DATA_PATH = '../data'
FAKE_FILENAME = 'Exchanges_clean.csv.gz'
exchanges = pd.read_csv(os.path.join(DATA_PATH, FAKE_FILENAME),compression = "gzip")

In [17]:
exchanges.head()

,Unnamed: 0,conversation_id,exchange_id,created_at,creator_id,guest_user_id,host_user_id,finalized_at,canceled_at,start_on,...,night_count,exchange_type,home_type,residence_type,capacity,country,region,department,city,diff_capacity
0,0,41311972,63399698,2021-08-22,389898,389898,3277768,NaN,NaN,NaN,...,0,NON_RECIPROCAL,Home,primary,2.0,NLD,Groningue,Het Hogeland,Onderdendam,2.0
1,1,43121577,65438439,2022-02-06,2191577,2191577,3609949,NaN,NaN,NaN,...,0,NON_RECIPROCAL,apartment,secondary,6.0,ESP,Les Asturies,Les Asturies,Avilés,3.0
2,2,38156044,59856100,2020-07-17,2207335,2207335,3537414,NaN,NaN,2020-07-27,...,6,NON_RECIPROCAL,apartment,secondary,4.0,ESP,Les Asturies,Les Asturies,Cangas de Onís,0.0
3,3,34141158,55536249,2019-08-02,450515,450515,2822792,NaN,NaN,NaN,...,0,NON_RECIPROCAL,Home,primary,6.0,FRA,Centre-Val De Loire,Loir-Et-Cher,Blois,6.0
4,4,38553219,60287269,2020-09-14,3055374,3055374,3243667,2020-09-15 12:12:35 UTC,NaN,2020-09-18,...,2,NON_RECIPROCAL,Home,primary,6.0,FRA,Centre-Val De Loire,Loir-Et-Cher,Mont-Prés-Chambord,1.0

In [19]:
exchanges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11969751 entries, 0 to 11969750
Data columns (total 22 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   conversation_id         int64
 2   exchange_id             int64
 3   created_at              object
 4   creator_id              int64
 5   guest_user_id           int64
 6   host_user_id            int64
 7   finalized_at            object
 8   canceled_at             object
 9   start_on                object
 10  end_on                  object
 11  guest_countguest_count  int64
 12  night_count             int64
 13  exchange_type           object
 14  home_type               object
 15  residence_type          object
 16  capacity                float64
 17  country                 object
 18  region                  object
 19  department              object
 20  city                    object
 21  diff_capacity           float64
dtypes: float64(2), int64(8), object(12)
memory usage: 2.0+ GB

#### Checking for empty values

In [22]:
is_null = pd.DataFrame(exchanges.isnull().sum(), columns=["nb_null"])
is_null["%null"] = (is_null["nb_null"] / len(exchanges))*100
is_null

                         nb_null      %null
Unnamed: 0                     0   0.000000
conversation_id                0   0.000000
exchange_id                    0   0.000000
created_at                     0   0.000000
creator_id                     0   0.000000
guest_user_id                  0   0.000000
host_user_id                   0   0.000000
finalized_at            11571384  96.671886
canceled_at             11890322  99.336419
start_on                 1335625  11.158336
end_on                   1346820  11.251863
guest_countguest_count         0   0.000000
night_count                    0   0.000000
exchange_type                  0   0.000000
home_type                   1452   0.012131
residence_type             44784   0.374143
capacity                       3   0.000025
country                     7104   0.059350
region                    277096   2.314969
department                869905   7.267528
city                     1175348   9.819319
diff_capacity                  3   0.000025

In [23]:
exchanges = exchanges.drop(columns=["Unnamed: 0"])

#### Changing data types

In [25]:
exchanges["created_at"] = pd.to_datetime(exchanges["created_at"])
exchanges["finalized_at"] = pd.to_datetime(exchanges["finalized_at"])
exchanges["canceled_at"] = pd.to_datetime(exchanges["canceled_at"])
exchanges["start_on"] = pd.to_datetime(exchanges["start_on"],errors = 'coerce')
exchanges["end_on"] = pd.to_datetime(exchanges["end_on"],errors = 'coerce')

In [26]:
exchanges["exchange_type"] = exchanges["exchange_type"].astype("string")
exchanges["home_type"] = exchanges["home_type"].astype("string")
exchanges["residence_type"] = exchanges["residence_type"].astype("string")
exchanges["country"] = exchanges["country"].astype("string")
exchanges["region"] = exchanges["region"].astype("string")
exchanges["department"] = exchanges["department"].astype("string")
exchanges["city"] = exchanges["city"].astype("string")

In [27]:
exchanges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11969751 entries, 0 to 11969750
Data columns (total 21 columns):
 #   Column                  Dtype
---  ------                  -----
 0   conversation_id         int64
 1   exchange_id             int64
 2   created_at              datetime64[ns]
 3   creator_id              int64
 4   guest_user_id           int64
 5   host_user_id            int64
 6   finalized_at            datetime64[ns, UTC]
 7   canceled_at             datetime64[ns, UTC]
 8   start_on                datetime64[ns]
 9   end_on                  datetime64[ns]
 10  guest_countguest_count  int64
 11  night_count             int64
 12  exchange_type           string
 13  home_type               string
 14  residence_type          string
 15  capacity                float64
 16  country                 string
 17  region                  string
 18  department              string
 19  city                    string
 20  diff_capacity           float64
dtypes: datetime64[ns, UTC](2), datetime64[ns](3), float64(2), int64(7), string(7)
memory usage: 1.9 GB

#### Imputing empty values and cleaning

In [29]:
exchanges["is_finalized"] = exchanges["finalized_at"].notna()
exchanges["is_cancelled"] = exchanges["canceled_at"].notna()

In [30]:
exchanges = exchanges.drop(columns=["finalized_at","canceled_at"], axis=1)

In [31]:
exchanges.drop(exchanges[exchanges["night_count"] == 0].index, inplace = True)

In [32]:
exchanges.drop(exchanges[exchanges["start_on"].isnull()].index, inplace=True)

In [34]:
exchanges = exchanges.drop(columns= ["region","department","city"])

In [36]:
exchanges["home_type"] = exchanges["home_type"].fillna(exchanges["home_type"].mode().iloc[0])

In [37]:
exchanges["residence_type"] = exchanges["residence_type"].fillna(exchanges["residence_type"].mode().iloc[0])

In [38]:
exchanges["country"] = exchanges["country"].fillna(exchanges["country"].mode().iloc[0])

In [39]:
exchanges["capacity"] = exchanges["capacity"].fillna(exchanges["capacity"].mean())

In [40]:
values = {"diff_capacity":exchanges["capacity"] - exchanges["guest_countguest_count"]}
exchanges = exchanges.fillna(values)

In [41]:
exchanges["diff_capacity"]= exchanges["diff_capacity"].astype(int)

In [42]:
exchanges["diff_book_stay"] = exchanges["start_on"] - exchanges["created_at"]

In [43]:
exchanges['diff_book_stay'] = pd.to_numeric(exchanges['diff_book_stay'].dt.days, downcast='integer')

In [44]:
exchanges.head()

,conversation_id,exchange_id,created_at,creator_id,guest_user_id,host_user_id,start_on,end_on,guest_countguest_count,night_count,exchange_type,home_type,residence_type,capacity,country,diff_capacity,is_finalized,is_cancelled,diff_book_stay
2,38156044,59856100,2020-07-17,2207335,2207335,3537414,2020-07-27,2020-08-02,4,6,NON_RECIPROCAL,apartment,secondary,4.0,ESP,0,False,False,10
4,38553219,60287269,2020-09-14,3055374,3055374,3243667,2020-09-18,2020-09-20,5,2,NON_RECIPROCAL,Home,primary,6.0,FRA,1,True,False,4
6,45977191,68682752,2022-07-03,3024428,3024428,605487,2022-08-22,2022-09-02,0,11,NON_RECIPROCAL,apartment,primary,8.0,HRV,8,False,False,50
7,39073751,60862385,2021-01-07,1483937,1483937,471734,2021-02-13,2021-02-27,0,14,NON_RECIPROCAL,Home,primary,8.0,PYF,8,False,False,37
8,39256601,61069855,2021-02-11,2772688,2772688,2685956,2021-02-28,2021-03-08,4,8,NON_RECIPROCAL,Home,primary,7.0,USA,3,False,False,17

In [45]:
exchanges.columns

Index(['conversation_id', 'exchange_id', 'created_at', 'creator_id',
       'guest_user_id', 'host_user_id', 'start_on', 'end_on',
       'guest_countguest_count', 'night_count', 'exchange_type', 'home_type',
       'residence_type', 'capacity', 'country', 'diff_capacity',
       'is_finalized', 'is_cancelled', 'diff_book_stay'],
      dtype='object')

In [46]:
exchanges["night_count"].replace(-5,5, inplace=True)

In [47]:
exchanges.drop(exchanges[exchanges["capacity"] == 200].index,  inplace= True)

In [48]:
exchanges.drop(exchanges[exchanges["capacity"] >50].index, inplace =True)

In [49]:
exchanges.drop(exchanges[exchanges["night_count"] >62].index, inplace=True)

In [50]:
exchanges.drop(exchanges[exchanges["guest_countguest_count"] >50].index, inplace =True)

In [51]:
exchanges.drop(exchanges[exchanges["diff_capacity"] == 50].index, inplace=True)

In [52]:
exchanges.drop(exchanges[exchanges["diff_book_stay"] > 365].index, inplace=True)

In [53]:
exchanges.drop(exchanges[exchanges["diff_book_stay"]<0].index, inplace=True)

In [54]:
exchanges.drop(exchanges[exchanges["diff_capacity"]<-5].index, inplace=True)

In [55]:
exchanges.drop(exchanges[exchanges["capacity"]==0].index, inplace = True)

In [57]:
exchanges.loc[exchanges["guest_countguest_count"] == 0, "diff_capacity"] = 0

In [58]:
exchanges["guest_countguest_count"].replace(0,2, inplace =True)

In [60]:
values = {"diff_capacity":exchanges["capacity"] - exchanges["guest_countguest_count"]}
exchanges = exchanges.fillna(values)

#### Descriptive statistics

In [65]:
exchanges[['guest_countguest_count', 'night_count','capacity','diff_capacity',
       'is_finalized', 'is_cancelled', 'diff_book_stay']].describe()

,guest_countguest_count,night_count,capacity,diff_capacity,diff_book_stay
count,1.049422e+07,1.049422e+07,1.049422e+07,1.049422e+07,1.049422e+07
mean,3.525282e+00,8.401152e+00,6.741038e+00,2.666529e+00,8.406009e+01
std,1.693005e+00,7.486724e+00,2.744515e+00,2.555749e+00,7.358301e+01
min,1.000000e+00,1.000000e+00,1.000000e+00,-5.000000e+00,0.000000e+00
25%,2.000000e+00,4.000000e+00,5.000000e+00,1.000000e+00,2.600000e+01
50%,4.000000e+00,7.000000e+00,6.000000e+00,2.000000e+00,6.200000e+01
75%,4.000000e+00,1.100000e+01,8.000000e+00,4.000000e+00,1.260000e+02
max,4.600000e+01,6.200000e+01,5.000000e+01,4.800000e+01,3.650000e+02

In [66]:
exchanges.shape

(10494222, 19)

In [84]:
FAKE_FILENAME = 'Exchanges_clean_final.csv'

In [97]:
exchanges.to_csv(os.path.join(DATA_PATH, FAKE_FILENAME))